/* Allyson Carter 3/16/2026 */

p {
    background-color: lightskyblue;
    font-size: larger;
    color:rgb(31, 5, 54);
}

h1 {
    font-size: xx-large;
    background-color: lightskyblue;
    color:rgb(31, 5, 54);
}

#mytext {
    color: blueviolet;
    background-color: antiquewhite;
}


